//run "sass sass/index.scss index.css" within assets/css

$primary-orange: #fd7000;

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	overflow: auto;
	font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}

#container, #overlay, .website-list {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

#container {
	background: url("../img/fog_forest.jpg") no-repeat center center;
	background-size: 110% 110%; //width height
}

#overlay {
	background-color: black;
	opacity: 0;
	visibility: hidden;
	transition: visibility .6s, opacity .6s ease-out 1s;

	&.toggled {
		visibility: visible;
		opacity: .7;
		transition: visibility .6s, opacity .6s ease-in;
	
		.website-list {
			&:nth-child(1) {
				transition-delay: .15s;
			}
			&:nth-child(2) {
				transition-delay: .3s;
			}
			&:nth-child(3) {
				transition-delay: .45s;
			}
			&:nth-child(4) {
				transition-delay: .6s;
			}

			li {
				transform: translateY(-50px);
				opacity: 1;
				transition: transform 0.4s, opacity 0.4s;
			}
		}
	}

	.website-list {
		text-align: center;
		vertical-align: middle;
		list-style-type: none;
		color: $primary-orange;
		line-height: 140px;
		margin-top: 100px;

		li {
			// font-size: calc(30px + (84 - 30) * (100vw - 320px) / (1680 - 320));
			font-size: 70px;

			transform: translateY(0px);
			opacity: 0;
			transition: transform 0.15s, opacity 0.15s;

			&:nth-child(1) {
				transition-delay: .6s;
			}
			&:nth-child(2) {
				transition-delay: .45s;
			}
			&:nth-child(3) {
				transition-delay: .3s;
			}
			&:nth-child(4) {
				transition-delay: .15s;
			}
		}
	}

	
}

.hamburger {
	position: absolute;
	z-index: 10;
    cursor: pointer;
    margin: 10px;

	div {
	    width: 35px;
	    height: 5px;
	    background-color: $primary-orange;
	    margin: 6px 0;
	    transition: 0.4s;
	}

    /* Rotate top bar */
	&.toggled .top-bar {
	    -webkit-transform: rotate(45deg) translate(8px, 8px) ;
	    transform: rotate(45deg) translate(8px, 8px) ;
	}

	/* Hide the second bar */
	&.toggled .middle-bar {
	    opacity: 0;
	}

	/* Rotate bottom bar */
	&.toggled .bottom-bar {
	    -webkit-transform: rotate(-45deg) translate(8px, -8px) ;
	    transform: rotate(-45deg) translate(8px, -8px) ;
	}
}