//run "sass sass/index.scss index.css" within assets/css

$primary-orange: #fd7000;

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	overflow: auto;
}

#container, #overlay, .website-list {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

#container {
	background: url("../img/fog_forest.jpg") no-repeat center center;
	background-size: 110% 110%; //width height
}

#overlay {
	background-color: black;
	opacity: 0;
	visibility: hidden;
	transition: visibility .3s, opacity .3s ease-out;

	&.toggled {
		visibility: visible;
		opacity: .7;
		transition: visibility .6s, opacity .6s ease-in;
	}

	.website-list {
		text-align: center;
		list-style-type: none;
		color: $primary-orange;
	}
}

.hamburger {
	position: absolute;
	z-index: 10;
    display: inline-block;
    cursor: pointer;
    margin: 10px;

	div {
	    width: 35px;
	    height: 5px;
	    background-color: $primary-orange;
	    margin: 6px 0;
	    transition: 0.4s;
	}

    /* Rotate top bar */
	&.toggled .top-bar {
	    -webkit-transform: rotate(45deg) translate(8px, 8px) ;
	    transform: rotate(45deg) translate(8px, 8px) ;
	}

	/* Hide the second bar */
	&.toggled .middle-bar {
	    opacity: 0;
	}

	/* Rotate bottom bar */
	&.toggled .bottom-bar {
	    -webkit-transform: rotate(-45deg) translate(8px, -8px) ;
	    transform: rotate(-45deg) translate(8px, -8px) ;
	}
}