//run "sass sass/index.scss index.css" within assets/css

$primary-orange: #fd7000;

html {
	background: url("../img/tiles.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.hamburger {
    display: inline-block;
    cursor: pointer;

	div {
	    width: 35px;
	    height: 5px;
	    background-color: $primary-orange;
	    margin: 6px 0;
	    transition: 0.4s;
	}

    /* Rotate top bar */
	&.toggled .top-bar {
	    -webkit-transform: rotate(45deg) translate(8px, 8px) ;
	    transform: rotate(45deg) translate(8px, 8px) ;
	}

	/* Hide the second bar */
	&.toggled .middle-bar {
	    opacity: 0;
	}

	/* Rotate bottom bar */
	&.toggled .bottom-bar {
	    -webkit-transform: rotate(-45deg) translate(8px, -8px) ;
	    transform: rotate(-45deg) translate(8px, -8px) ;
	}
}
